header {
  height: 100vh;
  padding-top: 7rem;
  /* overflow: hidden; */
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  top: 35%;
}

.header_socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.me {
  width: 20rem;
  height: 25rem;
  position: absolute;
  left: calc(50% - 10rem);
  margin-top: 2rem;
  border-radius: 1rem;
}

.scroll_down {
  position: absolute;
  right: -3.3rem;
  top: 39%;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

.quote_div {
  text-align: center;
  margin-top: -6rem;
}

@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }

  .quote_div {
    margin-top: -5rem;
  }
}

@media screen and (max-width: 600px) {
  header {
      height: 100vh;
      margin-top: -2rem;
    }

  .header_socials,
  .scroll_down {
    display: none;
  }

  .quote_div {
    margin: auto;
    margin-top: -9rem;
    width: 80%;
  }
}